<div class="row">
  <div class="col s4 offset-s4">
    <div class="card">
      <%= form_for [@user, @subject] do |f|%>
        <div class="card-content">
          <div class="card-title">
            Subject
          </div>
          <div class="input-field">
            <%= f.label :course_code %>
            <%= f.text_field :course_code %>
          </div>
          <div class="input-field">
            <%= f.label :course_name %>
            <%= f.text_field :course_name %>
          </div>
          <div class="input-field">
            <%= f.label :section %>
            <%= f.text_field :section %>
          </div>
        </div>
        <div class="card-action action-menu">
          <%= f.submit class:"btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
